@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@media (max-width: 768px) {
  .normalnavbar {
    display: none; /* Hide normal navbar on small screens */
  }
}

@media (min-width: 769px) {
  .slidernavbar {
    display: none; /* Hide slider navbar on large screens */
  }
}
body {
  font-family: 'Open Sans', sans-serif;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  scrollbar-width: none;
}