/* components/ProductBanner.module.css */

.productBanner {
    height: 450px; /* Set the height to 50% of the viewport height */
  }
  
  .bannerImage {
/* Ensure the image fills the entire height of the container */
    width: 450px;
    height: 450px;
  }
  
  @media (max-width: 768px) {
    /* Adjust height for small screens */
    .bannerImage {
      height: 300px; /* Set the height for small screens */
    }
    .productBanner{
      height: 300px;
    }
  }